
.button {
   font-weight: 700;
   background-color:  var(--accentColor);
   border-radius: 0.4rem;
   position: relative;
   overflow: hidden;
   color: var(--backgroundColor);
   transition: all 0.2s ease-in-out;
   width: max-content;
}

.button::after {
   content: '';
   height: 100%;
   transition: width 0.5s ease-in-out;
   border-radius: inherit;
   width: 0;
   background: var(--highlightColor);
   position: absolute;
   top: 0;
   left: 0;
}

.button:hover::after {
   width: 100%;
}

.button p {
   position: relative;
   z-index: 1;
}