@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   line-height: normal;
   box-sizing: border-box;
   flex-wrap: wrap;
}

:root {
   --primaryColor: #003366;
   --secondaryColor: #008080;
   --accentColor: #f78378;
   --backgroundColor: #f4f4f9;
   --textColor: #2f4f4f;
   --highlightColor: #db6033;
   --boxShadow: 0px 0px 30px 0px rgba(20, 33, 61, 0.25)
}

[data-theme="dark"] {
   --primaryColor: #33587e;
   --secondaryColor: #006666;
   --accentColor: #f78378;
   --backgroundColor: #1a1a1a;
   --textColor: #e0e0e0;
   --highlightColor: #db6033;
   --boxShadow: 0px 0px 30px 0px rgba(229, 229, 229, 0.25);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}