@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor:#003366;
  --secondaryColor:#008080;
  --accentColor:#ff6f61;
  --backgroundColor:#f4f4f9;
  --textColor:#2f4f4f;
  --hightLightColor:#ff7f50;
}

*{
   flex-wrap:wrap;
}