

.navigation-header{
   box-shadow:  var(--boxShadow);
   border: 2px rgba(20, 33, 61, 0.20);
   background-color: var(--backgroundColor);
   color: var(--textColor);
}

.InvisibleNavBar{
   box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25), 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
   background-color: var(--backgroundColor);
   transition: all 0.5s ease-in-out;
}